.work-section-container {
  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 0;
  display: grid;
  place-items: center;
  overflow-x: clip;
  background-color: transparent;
}

.work-section-container h2 {
  position: absolute;
  visibility: hidden;
}

.work-svg-container {
  position: relative;
  width: 80%;
  z-index: 1;
  mix-blend-mode: difference;
}

.work-svg-container svg {
  fill: #d6d6d6;
  will-change: transform;
}

@media (min-width: 1024px) {
  .work-svg-container {
    width: 720px;
  }
}

@media (width <= 639px) {
  .work-section-container {
    height: 110vh;
  }
  .work-svg-container {
    z-index: 1;
  }
  .gray-background {
    z-index: 10;
  }
}

.work-section-container .work-image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  overflow: clip;
  border-radius: 12px;
  width: 80%;
  aspect-ratio: 1.6/1;
  z-index: 0;
}

@media (width <= 450px) {
  .work-section-container .work-image-container {
    transform: translate(-50%, -70%);
  }

  .work-svg-container {
    margin-bottom: 10vh;
  }
}

@media (min-width: 768px) {
  .work-section-container .work-image-container {
    border-radius: 24px;
  }
}
@media (min-width: 1024px) {
  .work-section-container .work-image-container {
    width: 480px;
  }
}

.work-section-container .work-dark-background {
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #222;
  z-index: 1;
}

/* WORKS */

.works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 20;
  padding: 25vh;
  width: 100%;
  will-change: transform;
  grid-template-rows: auto;
  row-gap: 25vh;
  background-color: transparent;
}

.svg {
  z-index: 99999 !important;
}

.persp {
  perspective: 800px;
}

.work-item-image {
  background-color: #222;
  aspect-ratio: 1.5/1;
  min-width: 560px;
  max-width: 560px;
  border-radius: 42px;
  /* transform: rotateX(-30deg); */
}

@media (min-width: 640px) and (max-width: 1024px) {
  .work-item-image {
    min-width: 560px;
    max-width: 560px;
  }

  .works-container {
    row-gap: 30vh;
  }
}

@media (width <= 639px) {
  .works-container {
    row-gap: 35vh;
    padding: 0;
    padding-top: 25vh;
  }
  .work-item-image {
    width: 75vw;
  }
}

.work-titles-outercontainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 20;
  mix-blend-mode: difference;
}
.work-titles-innercontainer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  mix-blend-mode: difference;
}
.work-titles-container {
  height: 1.4cap;
  max-height: 1.4cap;
  width: 7ch;
  font-size: clamp(40px, 16.7vw, 320px);
  line-height: 1.11;
  overflow-y: clip;
  position: relative; /* Importante para el posicionamiento absoluto de los spans */
}

.work-titles-container h2 {
  position: relative;
  font-size: clamp(40px, 16.7vw, 320px);
  text-transform: uppercase;
  color: var(--light-grey);
  text-align: center;
  /* transform: translateY(-66%); */
}

@media (width <= 768px) {
  .work-titles-container {
    max-height: 1em;
  }
}

.mobile-works {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20vh;
  padding-bottom: 20vh;
  gap: 10vh;
  align-items: center;
  justify-items: center;
}

.mobile-workitem-container {
  grid-column: -1 / 1;
  aspect-ratio: 1.5/1;
  position: relative;
  border-radius: 12px;
  overflow: clip;
  padding: 8px;
  display: flex;
  align-items: flex-end;
  width: 350px;

  img {
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 5% cover 35%;
  }
}

.imagen {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 5% cover 35%;
}

.mobile-workitem-image {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: transparent;
}

.mobile-worktext-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.work-item-image-mobile {
  background-color: #222;
  aspect-ratio: 1.5/1;
  width: 90vw;
}

.mobile-worktext-title {
  font-size: clamp(3rem, 3.571vw + 2.286rem, 5.5rem);
  line-height: clamp(3rem, 3.571vw + 2.286rem, 5.5rem);
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
  color: #f9f9f9;
}

.mobile-work-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, transparent, rgba(8, 8, 8, 0.884));
}

@keyframes reveal {
  from {
    scale: 0.8;
    opacity: 0;
    translate: 0 50px;
  }
  to {
    scale: 1;
    opacity: 1;
    translate: 0 0;
  }
}
